.signup-box {
    padding: 35px;
    background: rgb(43, 38, 38);
    border-radius: 5px;
    color: aliceblue;
}

.signup-title {
    font-family: 'Lato';
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
}