<div class="centered-content">
  <div class="signup-box">
    <h1 class="signup-title">Sign up</h1>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          #emailInput
          class="form-control"
          type="email"
          placeholder="Email"
        />
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          #passInput
          class="form-control"
          type="password"
          placeholder="Password"
        />
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end">
      <p class="control">
        <button
          class="btn btn-primary"
          (click)="onSignupButtonClick(emailInput.value, passInput.value)"
        >
          Sign up
        </button>
      </p>
    </div>

    <br />
  </div>
</div>
